* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Tahoma;
  color: white;
  background: url(../imagens/bg.jpg) fixed no-repeat;
  background-size: cover;
}

header,
main {
  border: 1px solid #fff;
  border-radius: 10px;
  width: 1000px;
  margin: 20px auto;
  /*top e bottom com 20px e dir e esq com auto centralizado */
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 10px #000;
  background: rgba(255, 255, 255, 0.25);
}

h1 {
  text-align: center;
}

label {
  margin: 10px;
  width: calc(100% - 20px);
  display: block;
}

.input {
  margin: 10px;
  width: calc(100% - 20px);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 0;
}

p {
  margin: 10px;
}

button {
  margin: 10px;
  padding: 10px;
  background: green;
  color: white;
  border: 0;
  border-radius: 5px;
}
